<app-jumbotron class="text-center  ">
  <h1 class="display-4  animate__animated animate__pulse animate__infinite">(U.N.I.S.H.F)</h1>
  <p class="lead">
    We have a very important customer (U.N.I.S.H.F) United Nations Super
    Heroes Fund an employment agency for heroes, they want a simple UI to
    manage their H.R department.
    Please take care of them, they are very important to us, and we want to produce
    a very high-quality product.
  </p>
  <button mat-raised-button color="primary" routerLink="/heroes-page">
    <i class="fas fa-mask animate__animated animate__pulse animate__infinite"></i> See My Heroes <i
    class="fas fa-mask  animate__animated animate__pulse animate__infinite"></i>
  </button>
</app-jumbotron>
